<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h1>Reservation confirmation</h1>
        <h2>Receipt: <h:outputText value="#{reservationBean.reservationSummary.receipt}" /></h2>
        <h2>ReservationSerialNumber: <h:outputText value="#{reservationBean.reservationSummary.reservationSerialNumber}" /></h2>
        <!--Reserver/passengers/total price etc. <h:outputText value="{reservationBean.reservationSummary.travelSummary....}" />-->
        <h:form>
            <p:commandButton value="Make another reservation" action="#{reservationBean.index()}" />
        </h:form>
    </h:body>
</html>

