<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h1>Reserver</h1>
            CPR: <h:inputText value="#{reservationBean.reserver.cprNo}" />
            Name: <h:inputText value="#{reservationBean.reserver.name}" />
            Email: <h:inputText value="#{reservationBean.reserver.email}" />
            Address: <h:inputText value="#{reservationBean.reserver.address}" />

            <h1>Passenger 1</h1>
            CPR: <h:inputText value="#{reservationBean.passenger1.cprNo}" />
            Name: <h:inputText value="#{reservationBean.passenger1.name}" />
            Sex: <h:inputText value="#{reservationBean.passenger1.sex}" />
            Age: <h:inputText value="#{reservationBean.passenger1.age}" />

            <h1>Passenger 2</h1>
            CPR: <h:inputText value="#{reservationBean.passenger2.cprNo}" />
            Name: <h:inputText value="#{reservationBean.passenger2.name}" />
            Sex: <h:inputText value="#{reservationBean.passenger2.sex}" />
            Age: <h:inputText value="#{reservationBean.passenger2.age}" />

            <h1>Vehicle 1</h1>
            License plate: <h:inputText value="#{reservationBean.vehicle1.licensePlate}" />

            <h1>Vehicle 2</h1>
            License plate: <h:inputText value="#{reservationBean.vehicle2.licensePlate}" /><br /><br />
            <p:commandButton value="Submit" action="#{reservationBean.makeReservation()}" actionListener="#{reservationBean.processReservationInfo()}" />
        </h:form>
    </h:body>
</html>

