<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form id="form">
            <p:dataTable id="singleDT" var="trafficInfo" value="#{reservationBean.trafficInformation}" selectionMode="single" selection="#{reservationBean.selectedSchedule}" rowKey="#{trafficInfo.id}">
                <p:column headerText="id">
                    <h:outputText value="#{trafficInfo.id}" />
                </p:column>
                <p:column headerText="departureTime">
                    <h:outputText value="#{trafficInfo.departureTime}" />
                </p:column>
                <p:column headerText="arrivalTime">
                    <h:outputText value="#{trafficInfo.arrivalTime}" />
                </p:column>
                <p:column headerText="ferry">
                    <h:outputText value="#{trafficInfo.ferry}" />
                </p:column>
                <p:column headerText="price">
                    <h:outputText value="#{trafficInfo.price.personPrice}" />
                </p:column>
                <f:facet name="footer">
                    <p:commandButton process="singleDT" value="Select" action="#{reservationBean.reservationInfo()}"  />
                </f:facet>
            </p:dataTable>
        </h:form>
    </h:body>
</html>

